/* Reference code retrieved from the "app.css" file in "3. createUser" directory from Lecture 26 in CS2830. The original creator is Professor Wergeles of the University of Missouri */

#loginWidget {
    width: 31.25em;
    margin: 4.6875em auto;
    text-align: center;
}
#loginWidget > h1 {
    margin: 0;
    padding: .25px;
}
#loginWidget form {
    background-color: white;
    border: 1px solid #013369;
    padding: 0.5em 0;
    border-radius: 0 0 1em 1em;
}
#loginWidget form label {
    width: 6em;
    text-align: right;
    display: inline-block;
}
#loginWidget div.stack {
    margin: 1em 0;
}
div.ui-state-error {
    padding: .25em 0;
}
div.pageWidget {
    width: 37.5em;
    margin: 3.125em auto;
    text-align: center;
}
/* end of reference code */