#navBar {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.publicPages, .privatePages {
    font-size: 1.5em;
    color: #013369;
}
#navBar a {
    float: left;
    text-decoration: none;
    text-align: center;
    padding: .25em;
}
#navBar a:hover {
    background-color: #013369;
    color: white;
}

.current {
    background-color: #D50A0A;
    color: white;
}
#unknownUserIcon, #knownUserIcon {
    max-height: 2em;
    max-width: 2em;
    border-radius: 50%;
}
#logInStatus a, #logInStatus img{
    float: right;
}
.clear:after {
    content: "";
    display: table;
    clear: both;
}
