@font-face 
{
    font-family: myFont;
    src: url(JosefinSans-VariableFont_wght.ttf);
}

body {
    background-color: violet;
    font-family: myFont, serif;
}

.container {
    /* For most of the flexbox code, I used notes I took from the one website we were supposed to read for lecture. I am not sure if I am supposed to cite it, but if I have to, the link is:
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    */
    display: flex;
    flex-wrap: wrap-reverse;
    width: 90%;
    position: relative;
    margin: 10px auto;
    justify-content: center;
}

.card {
    border: 4px dashed orange;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    background-color: black;
    position: relative;
    margin: 5% auto;
    box-shadow: 10px 10px 5px orange;
    display: flex;
    /* Does not really do anything, but the rubric says the overflow property must be set on the cards */
    overflow: hidden;
}

/* I used flexbox on the text elements by creating a div as well because I was not sure if we could float the text elements (I know you are not supposed to mix flexbox and float, but I did not know for sure if the text elements were considered a part of the flexbox) */
.txt {
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    text-align: center;
    align-items: center;
    margin: auto;
}

img {
    width: 40%;
    height: 100%;
    border-right: 5px dashed orange;
    /* Code retrieved from:
    https://www.w3schools.com/css/css3_object-fit.asp */
    object-fit: cover;
    /* end of reference code */
}

.title {
    margin: 10px 0;
    color: violet;
    font-size: 28px;
    text-decoration: underline;
}

.desc {
    font-size: 18px;
    color: violet;
    padding: 10px;
}

.link {
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    color: orange;
}

.name {
    font-size: 30px;
    font-family: cursive;
    color: crimson;
}

/*#navbar {
    background-color: gold;
    width: 100%;
    position: fixed; 
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;

}      */
/* Floating each hyperlink left in the nav bar, setting text-decoration to none, setting text-align to center, and the padding for each a within the id nav bar was borrowed from:
https://www.w3schools.com/howto/howto_js_topnav.asp
*/
/*#navbar a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}*/
/* reference code end */       
/* The pseudo-class hover and changing both the background-color and color when a "button" is hovered over was borrowed from:
https://www.w3schools.com/howto/howto_js_topnav.asp
*/
/*#navbar a:hover {
    background-color: aliceblue;
    color: rebeccapurple;
}

.current {
    background-color: rebeccapurple;
    color: aliceblue;
} 

.clear:after {
    content: "";
    display: table;
    clear: both;
}*/




