.name {
    font-size: 30px;
    font-family: cursive;
    color: crimson;
}
#navbar {
    background-color: gold;
    width: 100%;
    position: fixed; 
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;

}       
/* Floating each hyperlink left in the nav bar, setting text-decoration to none, setting text-align to center, and the padding for each a within the id nav bar was borrowed from:
https://www.w3schools.com/howto/howto_js_topnav.asp
*/
#navbar a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
/* reference code end */       
/* The pseudo-class hover and changing both the background-color and color when a "button" is hovered over was borrowed from:
https://www.w3schools.com/howto/howto_js_topnav.asp
*/
#navbar a:hover {
    background-color: aliceblue;
    color: rebeccapurple;
}
/* reference code end */

.current {
    background-color: rebeccapurple;
    color: aliceblue;
}
.clear:after {
    content: "";
    display: table;
    clear: both;
}