    @font-face 
    {
        font-family: myFont;
        src: url(JosefinSans-VariableFont_wght.ttf);
    }
    body {
        font-family: myFont, serif;
        margin-top: 80px;
    }
    th {
        text-align: center;
    }
    .tiger {
        width: 150px;
    }
    .dep {
        text-align: center;
    }
    #cmpsc {
        background-color: darkviolet;
    }
    #econom {
        background-color: darkorange;
    }
    #hist {
        background-color: hotpink;
    }
    #gnhon {
        background-color: aqua;
    }
    #math {
        background-color: firebrick;
    }
    .title {
        font-size: 2em;
    }
    .subtitle {
        font-size: 1.5em;
    }
    #wrapper {
        border: 5px dashed black;
        box-shadow: 10px 10px 5px;
        width: 50%;
        background-color: gold;
        margin: 0 auto;
        overflow: hidden;
    }
    .column1 {
        width: 30%;
        display: inline-block;
        float: left;
    }
    .column2 {
        width: 30%;
        display: inline-block;
        float: left;
        margin-top: 10px;
        text-align: center;
    }
    .column3 {
        width: 40%;
        display: inline-block;
        float: left;
        margin-top: 10px;
        text-align: center;
    }
    .me {
        width: 90%;
        margin: 10px;
        border: 2px solid black;
    }
    .name {
        font-size: 30px;
        font-family: cursive;
        color: crimson;
    }
    /*#navbar {
        background-color: gold;
        width: 100%;
        position: fixed; 
        top: 0px;
        left: 0px;
        margin: 0px;
        padding: 0px;

    }   */    
    /* Floating each hyperlink left in the nav bar, setting text-decoration to none, setting text-align to center, and the padding for each a within the id nav bar was borrowed from:
    https://www.w3schools.com/howto/howto_js_topnav.asp
    */
    /*#navbar a {
        float: left;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
    }*/
    /* reference code end */       
    /* The pseudo-class hover and changing both the background-color and color when a "button" is hovered over was borrowed from:
    https://www.w3schools.com/howto/howto_js_topnav.asp
    */
    /*#navbar a:hover {
        background-color: aliceblue;
        color: rebeccapurple;
    }*/
    /* reference code end */

    /*.current {
        background-color: rebeccapurple;
        color: aliceblue;
    }
    .clear:after {
        content: "";
        display: table;
        clear: both;
    }*/